.modal-dangky, .modal-dangnhap, .modal-dattour {
	float: right; 
	padding: 3px 20px; 
	font-weight: bold;
}

.modal-header {
	background-color: #66FFFF;
}

.modal-header div {
	font-size: 32px; 
	font-weight: bold; 
	color: red;
}

.modal-content label {
	color: blue;
	text-transform: lowercase;
	font-size: 15px;
}

.form-dangky fieldset, .form-dattour fieldset {
	color: blue; 
}

.form-dangky span, .form-dangnhap span, .form-dattour span {
	color: red; 
	margin-left: 20px;
}

#btnKhach,#btnHDV,#btnDatTour {
	width: 20%;
}

#ghinho {
	font-weight: bold;
}

.btnDangNhap {
	width: 20%; 
	margin-top: 20px;
}

a {
	cursor: pointer;
}

body {
	font-size: 14px;
}

.modal-body {
	padding-bottom: 0px;
}

#primary-menu .user{
    padding: 20px 15px;
}

.tour_container{
	background-color:#fff;
	-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 0 5px 0 rgba(0,0,0,.1);
	box-shadow:0 0 5px 0 rgba(0,0,0,.1);
	margin:0 0 20px 10px;
	height: 350px;
}

.tour_container .tour_title{
    padding:15px;
    position:relative
}

.tour_container .tour_title .rating{
    font-size:14px;
    margin-left:-3px
}

.tour_container .tour_title h3{
    margin:0;
    font-size:18px;
    text-transform:uppercase
}

.img_container{
    position:relative;
    overflow:hidden;
    border:1px solid #fff
}

.img_container a:hover img{
    -webkit-transform:scale(1);
    transform:scale(1)
}

.img_container img{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    -webkit-backface-visibility:hidden
}

.price{
	background-color: lavender;
	position:absolute;
    right:0px;
    bottom:0px;
    font-size:30px;
    font-weight:700;
    display:inline-block
}

.price sup{
    font-size:20px;
    position:relative;
    top:-3px
}

.tour_container .tour_title{
    padding:15px;
    position:relative
}

.tour_container .tour_title .rating{
    font-size:14px;
    margin-left:-3px
}

.tour_container .tour_title h3{
    margin:0;
    font-size:18px;
    text-transform:uppercase
}

.rating span{
    color:#CCC
}

.rating .voted{
    color:#F90
}

.container .row .col-md-4, .container .row .col-sm-4{
    padding-right: 2px;
    padding-left: 2px;
}

.icon-shopping-cart{
    font-size: 100px; 
    padding: 0 22px; 
    color: orange
}

.post-navigation{
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
}

.post-navigation em{
    font-size: 35px; 
    position: relative;
    top: -22px;
}

.row .col-sm-12 {
    font-size: 20px;
}

.single-post .entry-meta {
    margin-bottom: 0px;
}

.title{
    color: orange; 
    margin: 20px;
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.glyphicon-star{
    font-size: 3em;
}

#primary-menu .user{
    padding: 20px 15px;
}

#header.full-header #primary-menu>ul{
    padding-right: 0px;
}

#header-wrap{
    background: #FFFFCC;
    position: fixed;
    width: 100%;
}

.paginate{
    font-size: 2em;
}

.single-post .entry-meta {
    margin-bottom: 5px;
}

.post-navigation a em {
    position: relative;
    top: 0px;
}

.lichsutour .entry-title a {
    font-size: 28px;
}

.lichsutour .entry-content a {
    font-size: 28px;
}

.status-bill {
    margin-top: 10px;
}

.status-bill form{
    margin-bottom: 0px;
}

#posts .entry-content {
    margin-top: 0px;
}

.comment-content .comment-author span{
    display:inline-block;
}

.comment-avatar {
    top: 0px;
}

.comment-wrap{
    padding: 8px 25px;
}

.commentlist li ul li {
    margin: 5px 0 0;
}

.reply-comment{
    margin: 10px 0 0 60px;
    font-size: 1.6em;
}

.entry{
    margin: 0 0 20px;
}

#comments {
    margin-top: 30px;
    padding-top: 30px;
}
.reply-comment i{
    margin-left: 5px;
}

.commentlist ul .comment-wrap {
    margin-left: 35px;
    padding-left: 20px;
}

.boxRatingCmt{
    margin-bottom:20px
}

.boxRatingCmt .toprt{
    border:solid 1px #ddd;
    border-radius:5px;
    padding:5px 15px;
    margin-bottom:20px
}

.boxRatingCmt .hrt{
    overflow:hidden;
    padding-bottom:5px;
    margin-bottom:15px
}

.boxRatingCmt .crt{
    height:120px;
    box-sizing:border-box
}

.boxRatingCmt .crt .lcrt{
    width:25%;
    float:left;
    border-right:solid 1px #eee;
    padding-top:31px;
    height:90%;
    text-align:center;
    box-sizing:border-box;
    margin:5px 10px 5px 5px
}

.boxRatingCmt .crt .lcrt b{
    font-size:40px;
    color:#fd9727;
    line-height:40px
}

.boxRatingCmt .crt .lcrt b i{
    vertical-align:initial;
    width:32px;
    height:32px;
    background-size:32px 32px
}

.boxRatingCmt .crt .rcrt .bgb .bgb-in{
    background-color:#f25800;
    background-image:linear-gradient(90deg,#ff7d26 0%,#f25800 97%);
    height:5px;
    border-radius:5px 0 0 5px
}

.boxRatingCmt .crt .lcrt span{
    display:block;
    color:#999;
    font-size:13px;
    margin-top:8px
}

.boxRatingCmt .crt .rcrt{
    font-size:13px;
    overflow:hidden;
    box-sizing:border-box;
    padding:10px 0;
    width:70%;
    float:left;
}

.boxRatingCmt .crt .rcrt span.t{
    display:inline-block;
    color:#333
}

.boxRatingCmt .crt .rcrt span.t i{
    width:12px;
    height:12px;
    background-size:12px 12px;
    display:inline-block
}

.boxRatingCmt .crt .rcrt span.c{
    display:inline-block;
    color:#288ad6;
    cursor:pointer
}

.boxRatingCmt .crt .rcrt span.c:hover{
    color:#0c72c1
}

.boxRatingCmt .crt .rcrt span.n{
    color:#333;
    text-decoration:unset !important;
    cursor:unset !important
}

.boxRatingCmt .crt .bcrt a.close-btt{
    background:#fff;
    color:#288ad6;
    border:1px solid #ddd
}

.boxRatingCmt .crt .rcrt .bgb{
    width:60%;
    background-color:#e9e9e9;
    height:5px;
    display:inline-block;
    margin:0 10px;
    border-radius:5px
}

.boxRatingCmt .crt .rcrt .bgb .bgb-in{
    background-color:#f25800;
    background-image:linear-gradient(90deg,#ff7d26 0%,#f25800 97%);
    height:5px;
    border-radius:5px 0 0 5px
}

.boxRatingCmt .crt .rcrt .r{
    padding:1px 20px
}

.current a{
    border-left: 1px solid #eee;
}

.commentlist li .comment-content p, .pingback p {
    margin: 10px 0 0 10px;
}

.commentlist li {
    margin: 10px 0 0 30px;
}

.comment .col_full{
    margin-bottom: 0px;
}

.commentlist {
    margin-bottom: 0px;
    padding-bottom: 30px;
}

#respond h3{
    margin-bottom: 10px;
}

.formReply {
    margin-bottom: 0px;
}

#thongtinhdv span{
    font-size: 2em;
    display: block;
    padding: 5px;
}

